@import "../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');
@import "react-toastify/dist/ReactToastify.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo";
}

#root {
  background: radial-gradient(circle at 30% 15%, #EEF1F8, transparent 45%),
    radial-gradient(circle at 75% 60%, #EFF2F8, transparent 50%),
    linear-gradient(180deg, #f0f0f8a2, #f0f0f8d8),
    url('./assets/bbblurry.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



main {
  min-height: 90vh;
  width: 90%;
  margin: auto;
}

.header-image {
  background-image: url(../public/2d.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}


.MuiFormGroup-root {
  margin-bottom: 5px;

}

.MuiButtonBase {
  position: absolute !important;
}


.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  padding: 8px 14px;
  font-weight: 600;
  color: #ffffffcc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #4FC3F7 !important;
}

.nav-link.text-danger {
  color: #ff5b5b !important;
  background-color: rgba(255, 255, 255, 0.07);
}

.MuiBadge-badge {
  background-color: #4FC3F7 !important;
  color: #1A1E22;
  font-weight: bold;
}


.login {
  display: flex;
  align-items: center;
  justify-content: center;

  & form {
    max-width: 350px;
    padding: 2rem;
    border-radius: 10px;
  }
}

.sale-switch:hover {
  cursor: pointer;
}

.link-success:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}




.scroll-container {
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling on iOS */
  overscroll-behavior-x: contain;
  /* Prevent scroll chaining */
}


.card-hover:hover {
  animation: identifier 1s ease-in-out infinite alternate;
  transition: all 0.3s ease-out;
}

@keyframes identifier {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(8deg);
  }
}