@import "../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');
@import "react-toastify/dist/ReactToastify.css";


#root {
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  background: url('./assets/bbblurry.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  min-height: 90vh;
  background: transparent;
}


.swiper-scrollbar {
  height: 10px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.swiper-scrollbar-drag {
  background-color: #ff5733 !important;
}

.MuiFormGroup-root {
  background: rgba(17, 25, 40, 0.8) !important;
  margin-bottom: 20px;
}

.navbar-glass {
  background: rgba(17, 25, 40, 0.8) !important;
  backdrop-filter: blur(12px);
  --a: 0 8px 32px rgba(0, 0, 0, 0.25);
  box-shadow: var(--a);
  border-radius: 16px;
  padding: 10px 30px;
  transition: all 0.3s ease;
  margin: 10px auto 60px;
  max-width: 1200px;
  margin-bottom: 60px !important;
  list-style: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.modal-content {
  background: rgba(221, 235, 255, 0.671);
  backdrop-filter: blur(10px);
  box-shadow: var(--a);
  color: #000 !important;
}

.nav-item {
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.nav-link {
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  padding: 8px 14px;
  font-weight: 600;
  color: #ffffffcc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #4FC3F7 !important;
}

.nav-link.text-danger {
  color: #ff5b5b !important;
  background-color: rgba(255, 255, 255, 0.07);
}

.MuiBadge-badge {
  background-color: #4FC3F7 !important;
  color: #1A1E22;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login {
  background: radial-gradient(#11171c00, #16181b);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & form {
    max-width: 350px;
    padding: 2rem;
    background-color: #11171cd8;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

.link-success:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}


.card {
  border-radius: 20px;
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgb(36, 36, 36);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

footer {
  background-color: #03090F;
}